<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:yellow">
<h1>
{{onerecipe.name}}
</h1>




<h3> time of preparing:</h3>
{{onerecipe.Time_of_preparing}}
<br>
<h3>level:</h3>
 <a href="{% url 'byLevel' onerecipe.level%}">  {{onerecipe.level }}</a>

<br>
<h3>ingridiantslist:</h3>
{{onerecipe.ingredients_list}}
<br>
<img src="{{onerecipe.image.url}}">
{{onerecipe.image}}
<br>
<h3>author:</h3>
{{onerecipe.author.name}}
<br>
 {{onerecipe.slug}}
<a href="{% url 'recipesList' %}">back</a>
</body>
</html>